CANMV_SERIAL_PORT=
CANMV_BAUDRATE=115200
VIDEO_DEVICE=/dev/v4l/by-id/usb-MACROSILICON_V-Z624_20210621-video-index0
VIDEO_WIDTH=1280
VIDEO_HEIGHT=720
VIDEO_FPS=30
VIDEO_ENCODER=x264enc
VIDEO_BITRATE_KBPS=2500
VIDEO_STUN_SERVER=
